.button-blue {
  color: white;
  background-color: $blue;
  border-radius: $border-radius;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}
