<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item" href="{{ site.baseurl }}/">Más nuevo</a>
      {% else %}
        <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.previous_page}}/">Más nuevo</a>
      {% endif %}
    {% else %}
      <span class="pagination-item disabled">Más nuevo</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="pagination-item" href="{{ site.baseurl }}/page{{paginator.next_page}}/">Más viejo</a>
    {% else %}
      <span class="pagination-item disabled">Más viejo</span>
    {% endif %}
  </div>
</div>
